* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(14, 15, 51);
  color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player_name {
  border: 4px solid red;
  height: 3em;
  width: 10em;
  text-align: center;
  line-height: 3;
  border-radius: 0.45em;
  font-size: 1.3em;
  color: rgb(0, 242, 255);
}

@media (max-width: 1070px) {
  .container {
    width: 20em;
  }
  .player_name {
    width: 7em;
    height: 2.5em;
  }
}

@media (max-width: 600px) {
  .player_name {
    width: 9em;
    height: 2.3em;
  }
}

@media (max-width: 500px) {
  .main_div {
    flex-direction: column;
    align-items: center;
  }
  .players {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }
  .player_name {
    width: 80%;
    font-size: 1em;
  }
  .container {
    width: 100%;
  }
  #gameTable {
    width: 100%;
  }
}
